<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">
	
	<!-- 处理文件的上传/下载  -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 限制在内存中最大只能放10KB 单位:字节 -->
		<property name="maxInMemorySize" value="102400" />
		<!-- 所有文件的容量之和,设置最大尺寸为10MB 单位:字节  -->
		<property name="maxUploadSize" value="10485760" />
		<!-- 当request自己指明了它的编码格式的时候就会忽略这里指定的defaultEncoding  -->
		<property name="defaultEncoding" value="UTF-8" />
		<!-- 设置上传文件时的临时目录，默认是Servlet容器的临时目录。 -->
		<!--  <property name="uploadTempDir" value="aaa"></property> 
		<property name="uploadTempDir" value="tempFiles" /> -->
	</bean>
	
</beans>