# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

.settings/*
personalblog-common/.settings/*
personalblog-dao/.settings/*
personalblog-domain/.settings/*
personalblog-page/.settings/*
personalblog-service/.settings/*
personalblog-web/.settings/*

target/*
personalblog-common/target/*
personalblog-dao/target/*
personalblog-domain/target/*
personalblog-page/target/*
personalblog-service/target/*
personalblog-web/target/*

.classpath
.project
personalblog-common/.classpath
personalblog-dao/.classpath
personalblog-domain/.classpath
personalblog-page/.classpath
personalblog-service/.classpath
personalblog-web/.classpath

personalblog-common/.project
personalblog-dao/.project
personalblog-domain/.project
personalblog-page/.project
personalblog-service/.project
personalblog-web/.project