*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #333;
}
i{
    font-style: normal;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix:after{
    visibility: hidden;
    display: block;
    clear: both;
    content: '.';
    height: 0;
}
.clearfix{
    zoom: 1;
}
.w{
    width: 1000px;
    margin: 0 auto;
}
li{
    list-style: none;
}

/* 消息中心 */
.notice-head{
    height: 40px;
    line-height: 40px;
}
.notice-head>span.line{
    margin: 0 20px;
    font-size: 12px;
}
.read-mark,.empty{
    color: #28A3D7;
    cursor: pointer;
}
.unread-count{
    margin-left: 4px;
    color: #000;
    font-weight: 600;
}
/* 消息列表 */
.notice-list{
    margin: 20px 0px;
}
.single-notice{
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
}
.single-notice a{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 850px;
    color: #999;
}
.single-notice a span{
    color: #000;
}
.single-notice a:hover{
    color: #28A3D7;
    text-decoration: underline;
}
.single-notice a:hover span{
    color: #28A3D7;
}
.comment-reply i,
.post-reply i{
    width: 19px;
    height: 19px;
    margin-top: 5px;
    margin-right: 8px;
    background-image: url("../img/icons.png");
}
.post-reply i{
    background-position: -7px -65px;
}
.comment-reply i{
    position: relative;
    left: 2px;
    background-position: -9px -10px;
}
.notice-list li:nth-child(odd){
    background: #f3f3f3;
}
.reply{
    width: 40px;
    height: 22px;
    margin-left: 12px;
    margin-top: 4px;
    line-height: 22px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #eee !important;
    background: #28A3D7;
}
.reply:hover{
    text-decoration: none !important;
    background: #30b3D7;
}
/* 已读标记 */
.read a>span,
.read>span{
    color: #999;
}